---
import Layout from '@layouts/main.astro';

import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<Layout title="Posts" lang="en">
  <h1>Posts (i18n TODO)</h1>
  <ul>
    {
      posts.map((post) => {
        return (
          <li>
            <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
          </li>
        );
      })
    }
  </ul>
</Layout>
