@import '@css/reset.css';
@import '@picocss/pico';

main,
main.container {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

blockquote > :last-child {
  margin-bottom: 0;
}

details summary::before {
  content: '▸';
  margin-right: 12px;
}

details[open] summary::before {
  content: '▾';
  margin-right: 12px;
}
