---
import '@css/main.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
const { title = 'TODO', lang = "en" } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
    </style>
  </head>

  <body>
    <Header {lang} />
    <main class="container" dir={lang === 'ar' ? 'rtl' : 'ltr'} >
      <slot />
    </main>
    <Footer />
  </body>
</html>
